# Groq API
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile

# MCP Server
MCP_SERVER_URL=http://127.0.0.1:8000/mcp
MCP_DB_PATH=./data/mcp_laboratorio.db