# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Variables de entorno y secretos
.env
.streamlit/secrets.toml

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Datos (si son grandes)
#data/*.csv
!data/.gitkeep